@font-face {
  font-family: impact;
  src: url("/src/assets/font/Impact.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

:root {
  --dark-color: #1a1a1a;
  --light-dark-color: #232323;

  --text-3xl: 3rem;
  /* 48px */
  --text-2xl: 2.5rem;
  /* 40px */
  --text-xl: 2rem;
  /* 32px */
  --text-lg: 1.5rem;
  /* 24px */
  --text-md: 1.25rem;
  /* 20px */
  --text-sm: 1rem;
  /* 16px */
  --text-xs: 0.875rem;
  /* 14px */
  --text-xxs: 0.75rem;
  /* 12px */
  --font-main: impact;
}

body {
  max-width: 1720px;
  min-width: 300px;
  margin: auto;
}

.main-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
}

/* Profile grid */

#profile-section {
  /* background-color: orangered; */
  min-height: 400px;
  width: 400px;
  position: sticky;
  top: 64px;
  padding: 64px;
}

#profile-section h1 {
  margin-top: 20px;
  color: var(--dark-color);
}

#profile-section ul li {
  font-size: var(--text-sm);
  color: var(--light-dark-color);
}

.pfp-img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* background-color: orange; */
  overflow: hidden;
}

.pfp-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* right-bento-grid-container */
.container {
  min-height: 100%;
  overflow-y: auto;
  /* background-color: rebeccapurple; */
  height: 100vh;
}

.right-bento-grid-container {
  padding: 64px 64px 64px 0px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* background-color: gainsboro; */
  gap: 20px;
}

.grid-box {
  /* border: 1px solid black; */
}

.grid-box-1 {
  grid-column: span 8;
  min-height: 40px;
}

.grid-box-2 {
  grid-column: span 4;
  height: 400px;
  width: 100%;
}

.grid-box-3 {
  grid-column: span 4;
  height: 400px;
  width: 100%;
}

.grid-box-4 {
  grid-column: span 2;
  height: 180px;
  width: 100%;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 40px; */
}

.grid-box-5 {
  grid-column: span 2;
  height: 180px;
  width: 100%;
}

.grid-box-6 {
  grid-column: span 2;
  height: 180px;
  width: 100%;
}

.grid-box-7 {
  grid-column: span 2;
  height: 180px;
  width: 100%;
}

.grid-box-1 .waving-text {
  border-radius: 0px;
  color: var(--light-dark-color);
}

.grid-box .bento-box-radius {
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  overflow: hidden;
  cursor: pointer;
  transition: all 1s;
  border-radius: 40px;
}

.grid-box .bento-box-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-box .bento-box-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-box .social-media-container {
  padding: 15px;
  display: flex;
  gap: 5px;
}
/* .grid-box .social-media-container .media,
.grid-box .social-media-container .media-text {
  width: 50%;
} */

.media {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}

.grid-box .social-media-container .media svg {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

.social-media-container .media h4 {
  padding-top: 10px;
}

.social-media-container .media a {
  /* margin-top: 10px; */
  color: white;
  padding: 5px 15px;
  background-color: black;
}

.media-text {
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  padding: 5px;
}

.card {
  grid-column: span 1;
  grid-row: span 1;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.card img {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

@media (max-width: 1258px) {
  .main-grid-container {
    grid-template-columns: repeat(1, 1fr);
    width: 400px;
    margin: auto;
    margin-top: 20px;
  }

  #profile-section {
    /* background-color: orangered; */
    margin: auto;
    position: static;
    padding: 30px;
  }

  .container {
    min-height: 100%;
    overflow: hidden;
    height: fit-content;
  }

  .right-bento-grid-container {
    padding: 0px;
    margin-top: 20px;
  }

  .grid-box-1 {
    grid-column: span 8;
  }

  .grid-box-2 {
    grid-column: span 8;
    height: 400px;
    width: 400px;
  }

  .grid-box-3 {
    grid-column: span 8;
  }

  .grid-box-4 {
    grid-column: span 4;
  }

  .grid-box-5 {
    grid-column: span 4;
  }

  .grid-box-6 {
    grid-column: span 4;
  }

  .grid-box-7 {
    grid-column: span 4;
  }
}

@media (max-width: 400px) {
  .main-grid-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
  }

  #profile-section {
    padding: 0px;
    width: 100%;
  }

  .grid-box-2 {
    grid-column: span 8;
    height: 400px;
    width: 100%;
  }

  .right-bento-grid-container {
    padding: 10px;
    width: 360px;
  }
}
